@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FEE5DD, #FAD8CE);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(153, 132, 126, 0.774);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #01A1B1;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 111, 121, 0.788);
}

h2 {
    color: #1FBFCB;
}

p {
    text-align: justify;
}